extends base

block content
    .row.row-cols-1.row-cols-md-3.g-4.mx-5.mb-4.mt-2
        each tour in tours
            .col
                .card
                    img.card-img-top(height= '200rem' src=`img/tours/${tour.imageCover}` alt=`${tour.name}`)
                    .card-body
                        h5.card-text= tour.name
                        p.card-text=  `${tour.difficulty} ${tour.duration}-day tour`
                        p.card-text= tour.summary
                        .d-flex.justify-content-between 
                            span= tour.startLocation.description
                            span= `Starts ${tour.startDates[0].toLocaleString('en-us')}`
                        .d-flex.justify-content-between 
                            span= `${tour.location.length} stops`
                            span= `Max ${tour.maxGroupSize} people`
                    .card-footer
                        .d-flex.justify-content-between
                            span= `$${tour.price} per person` 
                        .d-flex.justify-content-between
                            span= `rating: ${tour.ratingsAverage} (${tour.ratingsQuantity} persons)` 
                            a.btn.btn-primary(href=`/tour/${tour.slug}`) Deteils